body {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  width: 100%;
  background-color: black;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 69px;

}
.navigation {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.navigation span{
  display: flex;
  margin: 10px;
  padding-left: 10px;
}
.navigation a {
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

.logo img {
  display: flex;
  margin: 10px;
  height: 50px;
}
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url(../images/backgrounds/img-mission-background.jpg);
}
.missionbanner {
  background-color: black;
  width: 100%;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
.featured {
  display: flex;
  flex-direction: column;
  /*border: 1px solid white;*/
  width: 1000px;

}
.featuredbanner {
  text-align: center;

}
.featuredboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*border: 1px solid white;*/
}
.box img {
  height: 200px;
  width: 300px;
}
.box.blitz {
  margin-right: 50px;
}
.box.rum {
  margin-right: 50px;
}
.box.myrtle {
  margin-right: 50px;
}
.locations {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  background-image: url(../images/backgrounds/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  padding-top: 60px;
  text-align: center;
}
.locations h2 {
  margin-bottom: 15px;
}
.locationsboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100;
  margin: auto;
  padding-top: 5px;

}
.location {
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  text-align: center;
  height:250px;
  width: 300px;
  /*flex-basis: 280px;*/
  background-color: black;
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
}
footer {
  display: flex;
  flex-direction: column;
}
.contact {
  text-align: center;
  height: 200px;
}
.copyright {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 0;
}
