body {
  display: flex;
  flex-direction: column;
  background-color: black;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  background-color: black;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 69px;

}
.navigation {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.navigation span{
  display: flex;
  margin: 10px;
  padding-left: 10px;
}
.navigation a {
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

.logo img {
  display: flex;
  margin: 10px;
  height: 50px;
}
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url(../images/backgrounds/img-mission-background.jpg);
}
.banner {
  background-color: black;
  width: 100%;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
